:root{
    --white: #ffffff;
    --gray-light: #f6f4f2;
    --gray-medium: #56534e;
    --gray-dark: #232322;
    --oceanside-light: #8aacb5;
    --oceanside-dark: #01586b;
    --gold-light: #ecbd00;
    --gold-dark: #ec9600;
    --border-radius:4px;
}